name: Push SRC to dev branch

on:
  pull_request:
    branches: [dev]

  push:
    branches: [dev]

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: "poetry"

      - name: Install poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --no-root

      - name: Lint with black
        run: poetry run black src

      - name: Lint with flake8
        run: poetry run flake8 src --exit-zero --count --max-complexity=10 --max-line-length=190 --statistics

      - name: Quality check (pylint)
        run: pylint src --fail-under 8.0